<div class="position-relative">
  <div class="d-flex justify-content-between py-4">
    <h1>TODOS</h1>
    <button
      [disabled]="query.loading()"
      class="btn btn-primary"
      (click)="refresh()"
    >
      refresh
    </button>
  </div>

  <ul
    class="list-group"
    *ngIf="!query.error(); else errorTemplate"
    [ngClass]="{ 'container-loading': query.loading() }"
  >
    <li
      *ngFor="let item of query.data()"
      (click)="toggleCompleted(item.id)"
      class="list-group-item"
      [class.text-decoration-line-through]="!item.completed"
    >
      {{ item.title }}
    </li>
  </ul>
  <ng-template #errorTemplate>
    {{ query.error() | json }}
  </ng-template>
  <div
    class="spinner-border spinner"
    role="status"
    *ngIf="query.loading()"
  ></div>
</div>
