.text-link {
  color: rgba(255, 255, 255, 0.55);
}

.footer-link {
  @extend .text-link;

  &:hover {
    color: var(--bs-danger) !important;
  }
}
ul {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
