<section class="footer">
  <footer class="bg-dark">
    <div class="container-lg p-4">
      <div class="row text-link">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5>Ngbox Signal Utils</h5>

          <p class="text-sm">
            Unleash the Full Potential of Angular Signals with Ease
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Community</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a
                href="https://ngturkey.org/"
                target="_blank"
                class="footer-link"
              >
                Blog
              </a>
            </li>
            <li>
              <a
                href="https://discord.com/invite/VcZSjR4b54"
                target="_blank"
                class="footer-link"
              >
                Discord
              </a>
            </li>
            <li>
              <a
                target="_blank"
                href="https://twitter.com/ngTurkiye"
                class="footer-link"
              >
                Twitter
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Other</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a
                target="_blank"
                href="https://github.com/ngbox"
                class="footer-link"
                >Github</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</section>
